html {
  height: 100%;
}
body {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #a4af69
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0 auto;
  padding-top: 40px;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  color: #48484a;
  overflow-x: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: right;
  font-size: 22px;
  font-weight: bolder;
  line-height: 26px;
  margin-bottom: 0;
  color: white;
}
h2 {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  color: white;
  padding: 5px;
}
h5 {
  margin: 0;
  padding-top: 26px;
  text-align: center;
  font-size: 15px;
  color: white;
}
a {
  color: white;
  font-weight: lighter;
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 2fr;
  align-items: center;
}
#current-time-topRow {
  border-radius: 10px;
  background: transparent;
  margin: 0 auto;
  max-width: 700px;
  bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.row {
  align-items: center;
}
.sourceLink {
  color: white;
}
.sourceLink:hover {
  text-decoration: none;
  color: white;
}
#cityInfo {
  display: block;
  top: 1px;
  text-align: right;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 20px;
  margin-top: -34px;
}
.topImg {
  filter: invert(1);
  margin-left: 0px;
  margin-top: -70px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 2, "wght" 700, "GRAD" 200, "opsz" 48;
}
#main-row {
  margin-top: 36px;
}
#main-row strong {
  font-size: 8.7rem;
  font-weight: 400;
  display: inline;
  letter-spacing: -7.1px;
  line-height: 48px;
  margin-left: -29px;
}
#city-input {
  background-color: transparent;
  opacity: 1;
  border: 2px solid white;
  color: white;
}
#city-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#city-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

#city-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
.weather-description {
  display: block;
  line-height: 18px;
  text-align: left;
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 34px;
}
.weather-app {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  padding: 20px;
  padding-bottom: 40px;
  margin: 20px auto;
  max-width: 700px;
}

.col {
  padding: 0;
}
.col-4 {
  padding: 0;
}
.active {
  color: white;
  font-weight: bold;
  cursor: default;
}
.active:hover {
  color: white;
  text-decoration: none;
}
#humidity,
#max-temp,
#min-temp,
#wind-speed {
  color: white;
  font-weight: 20px;
}
.units {
  position: relative;
  font-size: 16px;
  top: -49px;
  margin-left: -19px;
}
.units a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
.seven-day-forecast {
  text-align: center;
  margin-top: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 10px;
  padding: 10px;
  max-width: 700px;
}
.weather-forecast-icon {
  filter: invert(1);
  padding: 5px;
}
.weather-forecast-date {
  font-size: 16px;
  font-weight: bold;
  opacity: 0.9;
}

.weather-forecast-temp-min {
  opacity: 0.7;
}
.temperature-forecast {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.btn-main {
  border: 2px solid white;
}
.btn-main:hover {
  font-weight: bold;
}
#search {
  color: rgb(255, 255, 255);
}

#current-location {
  color: white;
  background-color: transparent;
}
#current-location:hover {
  background-color: transparent;
  color: white;
}

@media (max-width: 576px) {
  h1 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
  }
  #cityInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -24px;
  }
  .topImg {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .units {
    top: 0;
    bottom: 1;
    position: relative;
    font-size: 16px;
    margin-left: 0;
    margin: 100px 10px;
  }
  .weather-description {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  #weather-description-HL {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 65px;
  }

  #main-row strong {
    font-size: 8rem;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
  }
  #weather-description-wind,
  #weather-description-humidity,
  .timeHeader,
  #current-location {
    display: none;
  }

  .col-8 {
    display: block;
    margin: 0 auto;
  }
  .search-form {
    width: 135%;
  }

  .seven-day-forecast .col-2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .weather-forecast-icon {
    width: 30px;
    filter: invert(1);
    margin: 0 auto;
  }
}
